@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables for Light and Dark Modes */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Body Styles */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Text Balance Utility */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navbar Logo Styles */
.navbar-logo {
  height: 40px; /* Same height as "Get Started" button */
  width: auto;
  object-fit: contain;
}

/* Notification Styles */
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: translateX(100%);
  width: 300px;
  max-width: 100%;
  cursor: default;
  height: 300px;
}

.notification.show {
  opacity: 1;
  transform: translateX(0);
}

.notification.hide {
  opacity: 0;
  transform: translateX(100%);
}

/* Notification Header Styles */
.notification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

/* Notification Icon Styles */
.notification-icon {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the logo */
  margin-right: 5px;
  margin-left: 10px;
}

.notification-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Notification Title Container Styles */
.notification-title-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(100% - 40px); /* Adjust width to leave space for the close button */
  padding-right: 30px; /* Add padding to avoid overlap with the close button */
}

/* Notification Title Styles */
.notification-title {
  font-weight: 600;
  font-size: 14px;
  text-align: justify; /* Justify the text */
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
}

/* Close Button Styles */
button.close-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 20px; /* Adjust size if necessary */
  height: 20px; /* Adjust size if necessary */
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #cecece;
  transition: color 0.3s;
}

button.close-button:hover {
  color: black;
}

/* Notification Content Styles */
.notification-content {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px; /* Adjust padding to control space between title and stars */
  align-items: flex-start;
}

/* Rating Styles */
.rating {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-left: -10px; /* Ensure stars align under the title */
  margin-top: 5px; /* Reduce space between the title and stars */
}

.star {
  font-size: 12px; /* Smaller stars */
  cursor: pointer;
  color: grey;
  margin-right: 5px;
}

.star:hover,
.star.selected {
  color: gold;
}

/* Textarea Styles */
textarea {
  margin-top: 10px; /* Adjust space between stars and textarea */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  width: 100%;
  height: 50px;
  font-size: 12px;
  box-sizing: border-box;
  color: black; /* Ensure text color is black */
}

/* Button Styles */
button {
  background-color: #acacac; /* Adjusted background color to match iPhone style */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.hidden {
  display: none;
}

/* Settings Button Styles */
.settings-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #c0c0c0;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  max-width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Notification Styles */
.notification.classic-white {
  background-color: white;
  color: black;
}

.notification.dark-mode {
  background-color: #333;
  color: white;
}

.notification.apple-notification {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid #ccc;
}

.notification.style-4 {
  background-color: #1e90ff;
  color: white;
}

.notification.style-5 {
  background-color: #32cd32;
  color: white;
}

.use-cases {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.use-case-titles {
  flex: 1;
  max-width: 50%;
}

.use-case-frame {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.use-case-frame-content {
  width: 100%;
}

.active .use-case-description {
  display: block;
}

.use-case-description {
  display: none;
}

video {
  max-height: 320px; /* Adjust the height to match the text size */
}

img {
  max-height: 320px; /* Adjust the height to match the text size */
}

/* Center and size adjustments for the pop-ups */
.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup {
  width: 90%;
  max-width: 300px; /* Adjust the width as needed */
  margin-bottom: 10px;
}

.popup .notification {
  width: 100%; /* Ensure the notification fills the container  ACTIVE POP UP */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 1;
  transform: translateX(0);
  cursor: default;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.notification-header {
  display: flex; /* Ensure the notification fills the container  ACTIVE POP UP */
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 100%;
}

.notification-icon {
  flex: 0 0 auto; /* Ensure the notification fills the container  ACTIVE POP UP */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 10px;
}

.notification-title-container {
  flex-grow: 1; /* Ensure the notification fills the container  ACTIVE POP UP */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(100% - 40px);
  padding-right: 30px;
}

.notification-title {
  font-weight: 600; /* Ensure the notification fills the container  ACTIVE POP UP */
  font-size: 14px;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
  color: black;
}

button.close-button {
  position: absolute; /* Ensure the notification fills the container  ACTIVE POP UP */
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: